<!doctype html>
<html lang="de">
    <head th:replace="fragments.html :: head(title = 'Startseite')" ></head>
<body>

    <header class="container"></header>

    <nav th:replace="fragments.html :: mainNav"></nav>

    <main class="container py-5">
        <div class="row">
            <div class="col">
                <h1>Herzlich Willkommen.</h1>
            </div>
        </div>
    </main>

    <footer class="container"></footer>

    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>