<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vocabulary learning v.1</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<header class="container"></header>

<body>

<nav th:replace="fragments.html :: mainNav"></nav>

<main class="container my-3">
    <div class="row">
        <div class="col-sm-6">

            <h3>Add Word</h3>

            <div th:if="${success}" class="alert alert-success">Erfolgreich registriert.</div>
            <div th:if="${error}" class="alert alert-danger">Das Wort ist bereits gespeichert</div>

            <form th:action="@{/word/save}" method="post" th:object="${word}">
                <div class="row mb-4">

                    <div class="col">
                        <label class="form-label" for="wordMeaning" th:text="${targetLanguage}"></label>
                        <input type="text" class="form-control" th:field="*{wordMeaning}"
                               placeholder="meaning in foreign language">
                        <p th:if="${#fields.hasErrors('wordMeaning')}" th:errors="*{wordMeaning}"
                           class="text-danger"></p>
                    </div>

                    <div class="col">
                        <label class="form-label" for="wordMother" th:text="${motherLanguage}"></label>
                        <input type="text" class="form-control" th:field="*{wordMother}"
                               placeholder="the word in your mother language">
                        <p th:if="${#fields.hasErrors('wordMother')}" th:errors="*{wordMother}" class="text-danger"></p>
                    </div>

                    <div class="col">
                        <label for="level" class="form-label">Level</label>
                        <select class="form-select" th:field="*{level}" aria-label="Default select example">
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Expert">Expert</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-success">Add new word</button>

            </form>

        </div>
    </div>

</main>

<footer>

</footer>


<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
