<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vocabulary learning v.1</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="script.js"></script>


</head>

<header class="container"></header>

<body>

<nav th:replace="fragments.html :: mainNav"></nav>

<main class="container my-3">
    <div class="row">
        <div class="col-sm-6">

            <h4 class="alert-danger" th:text="${keyword}"></h4>
            <h4 th:text="${error}"></h4>
            <h5 th:text="${emp}"></h5>

            <div th:if="${words.size()>0} ">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Word</th>
                        <th>Meaning</th>
                        <th>Details</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="w : ${words}">
                        <td th:text="${w.wordMeaning}"></td>
                        <td th:text="${w.wordMother}"></td>
                        <td>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Details
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form th:action="@{/sentence/new}" method="get">
                                            <input type="hidden" name="id" th:value="${w.id}">
                                            <button class="btn btn-light">Add new sentence</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form th:action="@{/sentence/details}" method="get">
                                            <input type="hidden" name="id" th:value="${w.id}">
                                            <button class="btn btn-light">Show sentences</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form th:action="@{/card/add}" method="get">
                                            <input type="hidden" name="id" th:value="${w.id}">
                                            <button class="btn btn-light">Add my list</button>
                                        </form>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>


</main>

<footer>
</footer>

<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/jquery/3.6.3/jquery.min.js"></script>




</body>


</html>
