<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vocabulary learning v.1</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<nav th:replace="fragments.html :: mainNav"></nav>


<main class="container my-3">
    <div class="row">
        <div class="col-sm-6">

            <h4 th:text="${title}"></h4>

            <div th:if="${sentencesoftheword.size()>0} ">
                <table class="table">

                    <thead>
                    <tr>
                        <th>Sentence in mother language</th>
                        <th>Sentence in target language</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="s : ${sentencesoftheword}">
                        <td th:text="${s.sentenceMeaning}"></td>
                        <td th:text="${s.sentenceMother}"></td>
                    </tr>
                    </tbody>

                </table>
            </div>


        </div>
    </div>

</main>


<footer>

</footer>


<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
